<template>
  <div>
    <input
    v-if="isText"
    v-model="value"
    :placeholder="placeholder"
    @keydown="updateData"
    :type='type'
    class="form-input">

    <textarea
      v-if="isTextArea"
      v-model="value"
      :placeholder="placeholder"
      @keydown="updateData"
      :type="type"
      class="form-input"
      cols='30'
      rows='10'>
    </textarea>

  </div>
</template>

<script>
export default {
  name: 'FormInput',
  props: {
    name: String,
    item: Object,
  },
  data() {
    return Object.assign({
      value: ''
    },{...this.item.attr})
  },
  computed: {
    isText() {
      return this.type === 'text'
    },
    isTextArea() {
      return this.type === 'textarea'
    }
  },
  methods: {
    updateData() {
      this.$emit('updateData', {
        name: this.name,
        value: this.value,
        validation: this.item.validation
      })
    }
  }
}
</script>