<template>
  <div>
    <form ref="form" class="form" action='/success'>
      <h2 class="form-title">Hire a advisor</h2>
      <FormInput v-for="(item, name) in formSetting"
        :key="name"
        :item="item"
        :name="name"
        @updateData="updateData"
      ></FormInput>
      <button type="submit" class="button" :class="{'button-default': validFail}" v-on:click.prevent="submitForm">SUBMIT</button>
    </form>
  </div>
</template>

<script>
import { formSetting, validationRules } from '../config.js'
import FormInput from './FormInput.vue'

export default {
  name: 'From',
  components: {
    FormInput
  },
  data() {
    return {
      formSetting,
      validationRules,
      allInputValue: {},
      valueAmount: 0,
    }
  },
  computed: {
    inputNameAry() {
      return Object.keys(this.formSetting)
    },
    inputAmount() {
      return this.inputNameAry.length
    },
    validFail() {
      return this.valueAmount !== this.inputAmount || !this.inputNameAry.every(item => this.allInputValue[item] !== false)
    }
  },
  methods: {
    updateData({name, value, validation:{ rule, required }}) {
      let validateCorrect = required ? Boolean(value) && this.validationRules[rule].test(value) : true;
      this.allInputValue[name] = validateCorrect && value
      this.valueAmount = Object.keys(this.allInputValue).length
    },
    submitForm() {
      if(this.validFail) {
        alert('Data Error')
      } else {
        this.$refs.form.submit();
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.form {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  font-weight: bold;
  border-bottom: 3px solid red;
}

.form-title {
  color: black;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}

.form-input {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ddd;
  width: 280px;
}
</style>
