<template>
  <div class="info">
    <h2 class="subtitle">Are you ready for a Leap?</h2>
    <h1 class="title">Welcome to Blackwell Global</h1>
    <p class="content">ljdkewwklwdweklvnkflvndfvnvfnvdklnkdfvldkvdfnlvfdndfvnvfnvdklnkdfvldkvdfnlvfdndfvnvfnvdklnkdfvldkvdfnlvfdndfvnvfnvdklnkdfvldkvdfnlvfdndfvnvfnvdklnkdfvldkvdfnlvfdndfvnvfnvdklnkdfvldkvdfnlvfdndfvnvfnvdklnkdfvldkvdfnlvfd</p>
    <button class="button">GET STARTED</button>
  </div>
</template>

<script>
export default {
  name: 'Info',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.info {
  flex: 1;
  width: 400px;
  padding: 10px;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.content {
  line-height: 1.3;
}
</style>
