<template>
  <div v-cloak id="app" class="main">
    <div class="main-container">
      <Info/>
      <Form/>
    </div>
  </div>
</template>

<script>
import Info from './components/Info.vue'
import Form from './components/Form.vue'

export default {
  name: 'app',
  components: {
    Info, Form
  }
}
</script>

<style>
[v-cloak] {
  display: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url('./assets/manhattan-407703_1920.jpg');
  font-family: Helvetica,Arial,Verdana,sans-serif;
  text-shadow: 0px 0px 1px #ccc;
}

.main-container {
  width: 70%;
  word-wrap: break-word;
  color: white;
  display: flex;
}

.button {
  border: 0;
  background: red;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  font-size: 15px;
}

.button-default {
  background: #ddd;
}
</style>
